<h1>Employees</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">phone number</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    @for(employ of employees$ | async; track employ.id ){
    <tr>
      <th scope="row">
        {{ employ.id }}
      </th>
      <td>{{ employ.firstName }} {{ employ.lastName }}</td>
      <td>{{ employ.phone }}</td>
      <td>{{ employ.city }}</td>
    </tr>
    }
  </tbody>
</table>
