<h1>Qualification</h1>
<div class="d-flex justify-content-end">
  <input type="text" placeholder="Filter by skill" [(ngModel)]="searchText" />
  <button disabled class="btn btn-info m-1">Filter Skill</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Skillset Name</th>
    </tr>
  </thead>
  <tbody>
    @for(quali of qualifications$ | async | appFilter:searchText; track quali.id
    ){
    <tr>
      <th scope="row">
        {{ quali.id }}
      </th>
      <td>{{ quali.skill }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#myModal"
          (click)="handleProps(quali.id, quali.skill)"
        >
          Open modal
        </button>
      </td>
      <td>
        <button (click)="deleteQualification(quali.id, quali.skill)">
          Delete
        </button>
      </td>
    </tr>

    }
  </tbody>
</table>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <input type="text" [value]="skillProp" #box />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          data-bs-dismiss="modal"
          (click)="handleSave(idProp, box.value)"
        >
          Save Changes
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
  <div
    class="form-group d-flex justify-content-center flex-column align-items-center"
  >
    <div class="col-6 text-center">
      <label for="skillSet"
        ><h2 class="text-center">adding Qualification</h2></label
      >
      <input
        class="form-control"
        id="skillSet"
        type="text"
        formControlName="skillSet"
      />
    </div>
    <button class="btn btn-primary m-2" type="submit">Add and Save</button>
  </div>
</form>
